.full_bg
{    
    -webkit-background-size: 100% auto !important;
    -moz-background-size: 100% auto !important;
    -o-background-size: cover;
    background-size: cover;
    background-position: top !important;
    background-color: transparent;
}

.container_center
{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
     
    display: -moz-box;
    -moz-box-align: center;
    -moz-box-pack: center;
     
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: center;
     
    display: box;
    box-align: center;
    box-pack: center;
}

.list-label {
    min-height : 3.125em !important;
}

 
@-webkit-keyframes show {
    0%   {top:-22em; display: block;}            
    100% {top:5.9em}
}

/* Standard syntax */
@keyframes show {
    0%   {top:-22em display: block;}            
    100% {top:5.9em}
}

@-webkit-keyframes hide {
    0%   {top: 5.9em;}            
    100% {top: -22em; display: none;}
}

/* Standard syntax */
@keyframes hide {
    0%   {top: 5.9em;}            
    100% {top: -22em; display: none;}
}


.button {
    border-radius : 0 !important;
    border : none !important;
    background-repeat : no-repeat;
    background-color : transparent !important;
}

.chart-iframe-container {
    -webkit-border-radius: 0.625em !important;
    border-radius: 0.625em !important;
}
/*--------------- for change the carousel indicators --------------- */
.x-carousel-indicator span {
    width: 0.6em !important;
    height: 0.6em !important;
    -webkit-border-radius: 0.30em !important;
    -moz-border-radius: 0.30em !important;
    -ms-border-radius: 0.30em !important;
    -o-border-radius: 0.30em !important;
    border-radius: 0.30em !important;
    margin: 0.2em !important;
}

.x-carousel-indicator-dark span.x-carousel-indicator-active {
    background-color: #0578ED !important;
}

.x-carousel-indicator-dark span:not(.x-carousel-indicator-active){
    background-color: #EC2027 !important;
}              


.x-carousel-indicator-vertical {
    bottom : 2.1em;
    height : 0% !important; 
    width  : 100% !important;
    -webkit-box-orient: horizontal !important;
}

.x-carousel-indicator-horizontal {
    -webkit-box-orient: horizontal !important;
    //height: 100% !important; 
    width : 0 !important;
    right : 3em;
    top : 0;
}

.x-panel.x-floating>.x-dock.x-sized,.x-msgbox>.x-dock.x-sized,.x-form.x-floating>.x-dock.x-sized {
    margin : 0 !important;
}
.x-panel.x-floating{
   // background-color: #CECECE !important;
}
.x-form.x-floating {
  //  background-color: #F0F0F0 !important;
}

.x-msgbox {
    min-width : 20em !important;
    background-color: #fff !important;
    border: 0.25em solid #1985d0 !important;            
}

.x-msgbox .x-title {
    color : #1985d0 !important;
    text-shadow: none !important;
}
.x-msgbox .x-msgbox-text{
    color: #FF0000 !important;
    text-shadow: none !important;

}
/*--------------- this class used in chart screen for background gradient--------------- */
 .chart-screen-bg-blue{
    background: -webkit-linear-gradient(top, #B8D1F1, #F2F5F9) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #B8D1F1, #F2F5F9) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #B8D1F1, #F2F5F9) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #B8D1F1, #F2F5F9) !important; /* Standard syntax */
}

.chart-screen-bg-green{
    background: -webkit-linear-gradient(top, #BFFFC3 , #DFFDE1) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #BFFFC3, #DFFDE1) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #BFFFC3, #DFFDE1) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #BFFFC3, #DFFDE1) !important; /* Standard syntax */
}

.chart-screen-bg-yellow{
    background: -webkit-linear-gradient(top, #FFDBA7, #F7E7CD) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #FFDBA7, #F7E7CD) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #FFDBA7, #F7E7CD) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #FFDBA7, #F7E7CD) !important; /* Standard syntax */
}
.chart-screen-bg-red {
    background: -webkit-linear-gradient(top, #9C23A8, #EF21BC) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #9C23A8, #EF21BC) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #9C23A8, #EF21BC) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #9C23A8, #EF21BC) !important; /* Standard syntax */
}

.chart-screen-bg-organization {
    background: -webkit-linear-gradient(top, #FFDBDB, #FF8787) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #FFDBDB, #FF8787) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #FFDBDB, #FF8787) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #FFDBDB, #FF8787) !important; /* Standard syntax */
}

.chart-screen-bg-billfeed{
    background: -webkit-linear-gradient(top, #EFCEE7, #ED6DCF) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #EFCEE7, #ED6DCF) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #EFCEE7, #ED6DCF) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #EFCEE7, #ED6DCF) !important; /* Standard syntax */
}
.chart-screen-bg-exchange{
    background: -webkit-linear-gradient(top, #D9AFDD, #D66AE2) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #D9AFDD, #D66AE2) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #D9AFDD, #D66AE2) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #D9AFDD, #D66AE2) !important; /* Standard syntax */
}


/** ------------ Filter Form 's div----------------- 
* This remove border from every child div 
*/
.filter_form  div {
    border-radius: 0px !important;
}

// elemenate border of select box
.x-floating {
    padding: 0px !important;
}

.select {
    border-top : 0.0625em solid #fff;
}
.select > div:nth-child(1){
    padding-left :2.0em;
}

.select-bg {
    background-color: #E4E4E4 !important;
    background: -webkit-linear-gradient(top, #F0F0F0,#E1E1E1, #D7D7D7) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #F0F0F0, #E1E1E1, #EEFEEF) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #F0F0F0,#E1E1E1, #D7D7D7) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #F0F0F0,#E1E1E1, #D7D7D7) !important; /* Standard syntax */
}

.select-input{
    color : #514B4B !important; 
    font-size : 0.85em;
    height:  3.0em;
}

/**
* Override
* css apply to every form 's input box label
*/
.x-form-label{
    background-color: transparent !important;            
    border-top-color: #F0F0F0  !important;
}

.x-form-label span{
    font-size : 0.9em !important;
}

/**
* this class only for apply css for next div which is done as following        
*/
.fieldset {
    margin : 0 !important;
    //height : 4.0em !important;
    background-color: #E4E4E4 !important;
    background: -webkit-linear-gradient(top, #F0F0F0, #E4E4E4) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #F0F0F0, #E4E4E4) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #F0F0F0, #E4E4E4) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #F0F0F0, #E4E4E4) !important; /* Standard syntax */
    border-top: none !important;
}

.fieldset > div{
    background-color: transparent !important;
}

.fieldset .x-field-radio{
    margin-right: 1em !important;
    background-color: transparent !important;
}

// css apply to first child div where you give class .fieldset
.x-form-fieldset-inner {
    border: none !important;
    background : none !important;
}

/**
* for help and setting screen
*/
.content{
    background-color: #fff;
    color : #000;
    border : 0.375em solid #E7EFFA;
    border-radius: 0.375em;
    font-size : 1.1em;
}

.content p{
    padding : 0 0;
    font-size: 1.8em;
}

.reload-cmp-content
{
    background-color: #fff;
    color : #000;
    border-radius: 0.375em;
    font-size : 1.1em;
}

.border-spend{
    border : 0.375em solid #E7EFFA;
}
.border-usage{
    border : 0.375em solid #C8F7CA;
}
.border-inventory{
    border : 0.375em solid #FCF2E3;
}
.border-organization{
    border : 0.375em solid #F9A9A9;
}
.border-billfeed{
    border : 0.375em solid #EF83D4;
}
.border-exchange{
    border : 0.375em solid #D485DD;
}


/*--------------------- Override --------------------------------*/

/**
* Removing select list item's border radius
*/
.x-panel.x-floating .x-panel-inner
{
     -webkit-border-radius: 0em !important; 
    -moz-border-radius: 0em !important;
    -ms-border-radius: 0em !important;
    -o-border-radius: 0em !important;
     border-radius: 0em !important; 
}


.frame > iframe {
    -ms-zoom: 2;
    -moz-transform: scale(2);
    -moz-transform-origin: 0 0;
    -o-transform: scale(2);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(2);
    -webkit-transform-origin: 0 0;
}

